---
title: Overview | Skroutz API v2
---

<div id="js-sidebar" class="sidebar-shell">
  <nav class="js-toggle-list sidebar-module expandable">

    <h2 class="manual">API v2 Manual</h2>

    <ul>
      <li class="js-topic">
        <h3>
          <%= link_to('Overview', '/api/v2/') %>
        </h3>
      </li>
      <li class="js-topic">
        <h3>
          <%= link_to('Data Model', '/api/v2/data_model/') %>
        </h3>
      </li>
      <li class="js-topic">
        <h3>
          <%= link_to('Product', '/api/v2/product/') %>
        </h3>
      </li>
      <li class="js-topic">
        <h3>
          <%= link_to('Book', '/api/v2/book/') %>
        </h3>
      </li>
      <li class="js-topic">
        <h3>
          <%= link_to('User ', '/api/v2/user/') %>
        </h3>
      <li class="js-topic">
        <h3>
          <%= link_to('Widgets', '/api/v2/widgets/') %>
        </h3>
      </li>
      </li>
    </ul>

    <h3>
      <%= link_to('Help', '/help') %>
    </h3>
   </nav>
  <%= partial'partials/_footer' %>
</div> <!-- /sidebar-module -->
