---
title: Getting Started
---

# Getting Started

Follow the steps below to build your first successful application using
<%= settings.site_name.capitalize %> API.

## Authenticate

Before you perform any api request make sure you read
<%= link_to 'authentication', '/guides/authentication' %>

Make sure you have installed to your system a tool to perform request to
our API.

Some suggested tools:

<ul class="api-tools">
  <li><a href="http://curl.haxx.se/">curl</a></li>
  <li>
    <a
href="https://chrome.google.com/webstore/detail/postman-rest-client/fdmmgilgnpjigdojojpjoooidkmcomcm">postman
    </a>
  </li>
  <li><a href="https://github.com/Zorbash/response_mate">response_mate</a></li>
</ul>

## Your First Request

Supposing that you have successfully obtained a valid access token you can use
it to perform requests. As mentioned in
<%= link_to 'authentication', '/guides/authentication' %> there are 2 ways to
specify your access token.

### Via the oauth_token parameter

You may add the oauth_token parameter obtained above as access_token.

Example Request

<pre class="terminal">
GET https://<%= settings.api_domain %>/categories/40?oauth_token=your_token
</pre>

### Via Authorization HTTP header

You have to add the following header:

<pre class="terminal">
Authorization: Bearer your_token
</pre>


### Point to the right version

There are two versions of the <%= settings.site_name.capitalize %> API:
<%= link_to 'v2', '/api/v2' %> and <%= link_to 'v3', '/api/v3' %>.

API <%= link_to 'v2', '/api/v2' %> is to be deprecated at 2014-01-01.

To use v3 you have to explicitly request the API v3 media type in the
`Accept` header:

<pre class="terminal">
application/vnd.<%= settings.site_name %>+json;version=3
</pre>

Also you are suggested to specify the `User-Agent` header to match your
application's name.
