<div class="container-fluid container-featured">
  <div class="container">
    <div class="row text-center">

      <%# API v3 %>
      <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-1">
        <a href="/api/v3/">
          <i class="fa-code"></i>
          <span><%= t('titles.api') %></span>
        </a>
      </div>

      <%# Analytics %>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <a href="/analytics/">
          <i class="fa-bar-chart-o"></i>
          <span><%= t('titles.analytics') %></span>
        </a>
      </div>

      <%# Authentication %>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <a href="/authentication/">
          <i class="fa-key"></i>
          <span><%= t('titles.authentication') %></span>
        </a>
      </div>

      <%# Easy %>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <a href="/easy/">
          <i class="icon-easy"></i>
          <span><%= t('titles.easy', flavor: settings.site_name.titleize) %></span>
        </a>
      </div>

      <%# Widgets %>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <a href="/api/v2/widgets/">
          <i class="fa-cubes"></i>
          <span><%= t('titles.widgets') %></span>
        </a>
      </div>

    </div>
  </div>
</div>
