<div id="sidebar" class="sidebar col-sm-4 col-md-3" data-ui-scope="offCanvas">
  <div class="container-sidebar">

    <%# Sidebar Search - check JavaScript %>
    <h5 class="hidden heading visible-xs-hidden">
      <i class="fa-search"></i>
      <%= t('sidebar.search') %>
    </h5>
    <div data-ui-scope="swiftypeSidebar"></div>

    <%# Available locales %>
    <% unless current_page.data.locale.nil? %>
      <h5 class="heading visible-xs-block">
        <i class="fa-globe"></i>
        <%= t('sidebar.language') %>
      </h5>
      <%= render_list(available_locales, 'nav-lang') %>
    <% end %>

    <%# Docs %>
    <h5 class="heading">
      <i class="fa-graduation-cap"></i>
      <%= t('titles.docs') %>
    </h5>
    <ul class="nav nav-sidebar">
    <% data.docs.each do |key, doc| %>

      <%# Skip Doc if not supported for current flavor %>
      <% next if doc.flavors.present? && !doc.flavors.include?(flavor) %>

      <li>
        <% if doc.pages.nil? %>
          <%= link_to t("titles.#{key}", flavor: flavor),
                      doc.base,
                      class: "nav-link #{active_parent_classes(doc.base)}" %>
        <%
           else
             doc[:title] = "titles.#{key}"
             doc[:titles] = "docs.#{key}"
        %>
          <%= render_sidebar_menu(doc) %>
        <% end %>
      </li>

    <% end %>
    </ul>

    <%# Extras %>
    <h5 class="heading">
      <i class="fa-question"></i>
      <%= t('titles.extra') %>
    </h5>
    <ul class="nav nav-sidebar">
      <li>
        <%= link_to t('titles.support'),
                    '/support/',
                    class: "nav-link #{active_parent_classes('support')}" %>
      </li>
      <li>
        <%
          contribution = {}
          contribution[:base] = '/contribution/'
          contribution[:title] = 'titles.contribute'
          contribution[:titles] = 'contribute'
          contribution[:pages] = []
          contribution[:pages] << { title: 'getting_started', url: contribution[:base] }
          contribution[:pages] << { title: 'new' }
          contribution[:pages] << { title: 'style' }
        %>
        <%= render_sidebar_menu(contribution) %>
      </li>
      <li>
        <%= link_to t('index.oss.github',
                    flavor: settings.site_name.titleize),
                    settings.github_profile,
                    class: 'nav-link' %>
      </li>
    </ul>

    <%# Footer %>
    <%= partial 'partials/footer' %>

  </div>
</div>

<div class="hidden" data-ui-scope="offCanvasOverlay"></div>
