<div id="sidebar" class="sidebar col-sm-4 col-md-3" data-ui-scope="offCanvas">
  <div class="container-sidebar">

    <hr/>

    <%# Sidebar Search - check JavaScript %>
    <div data-ui-scope="swiftypeSidebar"></div>

    <hr/>

    <%# Docs %>
    <h5 class="heading">
      <i class="fa-graduation-cap"></i>
      <%= t('titles.docs') %>
    </h5>
    <ul class="nav nav-sidebar">
    <% data.docs.each do |key, doc| %>

      <li>
        <%# without sub-menu %>
        <% if doc.pages.nil? %>
          <%= link_to t("titles.#{key}"), doc.base, class: 'nav-link' %>

        <%# with sub-menu %>
        <% else %>
          <%= link_to t("titles.#{key}"), "#nav-sidebar-#{key}",
                      class: 'collapse-btn',
                      "data-toggle" => 'collapse',
                      "data-parent" => '.nav-sidebar' %>

          <div id="<%= "nav-sidebar-#{key}" %>" class="nav-menu-sidebar collapse">
            <% doc.pages.each do |page| %>
              <%= link_to t("docs.#{key}.#{page.title}"), doc.base, class: 'nav-link' %>
            <% end %>
          </div>
        <% end %>
      </li>

    <% end %>
    </ul>

    <hr/>

    <%# Extras %>
    <h5 class="heading">
      <i class="fa-question"></i>
      <%= t('titles.extra') %>
    </h5>
    <ul class="nav nav-sidebar">
      <li><%= link_to t('titles.support'), '/support/', class: 'nav-link' %></li>
      <li><%= link_to t('index.on_github', flavor: flavor_data.site_name.titleize),
              flavor_data.github_profile,
              class: 'nav-link' %>
      </li>
    </ul>

    <hr/>

    <%# Footer %>
    <%= partial 'partials/footer' %>
  </div>
</div>

<div class="hidden" data-ui-scope="offCanvasOverlay"></div>
