<div id="sidebar" class="sidebar col-sm-4 col-md-3" data-ui-scope="offCanvas">
  <div class="container-sidebar">

    <%# Sidebar Search - check JavaScript %>
    <h5 class="hidden heading visible-xs-hidden">
      <i class="fa-search"></i>"Search"
    </h5>
    <div data-ui-scope="swiftypeSidebar"></div>


    <%# Docs %>
    <h5 class="heading">
      <i class="fa-graduation-cap"></i>
      Developers Documentation
    </h5>
    <ul class="nav nav-sidebar">
    <% data.docs.each do |key, doc| %>
      <li>
        <%# without sub-menu %>
        <% if doc.pages.nil? %>
          <%= link_to "#{key}",
                      doc.base,
                      class: "nav-link #{active_parent_link(doc)}" %>

        <%# with sub-menu %>
        <% else %>
          <%= sidebar_parent_link(key, doc) %>

          <div id="<%= "nav-sidebar-#{key}" %>" class="nav-menu-sidebar collapse <%= active_parent_link(doc) %>">
            <% doc.pages.each do |page| %>
              <%= sidebar_child_link(key, doc, page) %>
            <% end %>
          </div>
        <% end %>
      </li>

    <% end %>
    </ul>

    <%# Footer %>
    <%= partial 'partials/footer' %>

  </div>
</div>

<div class="hidden" data-ui-scope="offCanvasOverlay"></div>
