---
title: docs
---

<h1><%= t('titles.docs') %></h1>

<div class="row">

  <%# Analytics %>
  <div class="doc-panel-wrapper">
    <div class="doc-panel">
      <div class="doc-icon"><i class="fa-bar-chart-o"></i></div>
      <div class="doc-body">
        <h3 class="heading"><%= t('titles.analytics') %></h3>
        <p class="description"><%= t('docs.analytics.short_description') %></p>
        <%= link_to t('view_doc'), '/analytics/', class: 'goto' %>
      </div>
    </div>
  </div>

  <div class="doc-panel-wrapper">
    <div class="doc-panel">
      <div class="doc-icon"><i class="fa-flash"></i></div>
      <div class="doc-body">
        <h3 class="heading"><%= t('titles.api') %></h3>
        <p class="description"><%= t('docs.api.short_description') %></p>
        <%= link_to t('view_doc'), '/analytics/', class: 'goto' %>

        <br/><br/>
        <div class="alert alert-warning" role="alert">
          <%= t('apiv2_is_deprecated',
                api_v2_url: link_to( t('titles.apiv2'), '/api/v2')) %>
        </div>
      </div>
    </div>
  </div>

  <div class="doc-panel-wrapper">
    <div class="doc-panel">
      <div class="doc-icon"><i class="fa-key"></i></div>
      <div class="doc-body">
        <h3 class="heading"><%= t('titles.authentication') %></h3>
        <p class="description"><%= t('docs.authentication.short_description') %></p>
        <%= link_to t('view_doc'), '/analytics/', class: 'goto' %>
      </div>
    </div>
  </div>

  <div class="doc-panel-wrapper">
    <div class="doc-panel">
      <div class="doc-icon"><i class="fa-lock"></i></div>
      <div class="doc-body">
        <h3 class="heading"><%= t('titles.oauth') %></h3>
        <p class="description"><%= t('docs.oauth.short_description') %></p>
        <%= link_to t('view_doc'), '/analytics/', class: 'goto' %>
      </div>
    </div>
  </div>

  <div class="doc-panel-wrapper">
    <div class="doc-panel">
      <div class="doc-icon"><i class="fa-heart"></i></div>
      <div class="doc-body">
        <h3 class="heading"><%= t('titles.widgets') %></h3>
        <p class="description"><%= t('docs.api.short_description') %></p>
        <%= link_to t('view_doc'), '/analytics/', class: 'goto' %>
      </div>
    </div>
  </div>

</div>
