<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= flavor_data.site_name.capitalize %> Documentation</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_tag 'images/favicon.ico' %>

    <%= stylesheet_link_tag 'style', media: 'all' %>
    <%= stylesheet_link_tag 'one_col' %>
    <%= stylesheet_link_tag "flavors/#{flavor}" %>

    <%= javascript_include_tag  'application' %>

    <%# HTML5 support for IE8 %>
    <!--[if lt IE 9]>
    <%= javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js' %>
    <![endif]-->

    <%# Assets per Doc/Page %>
    <%= yield_content :assets %>
  </head>

  <body class="<%= page_classes %>">
    <div id="page">

      <%# Header %>
      <%= partial 'partials/header' %>

      <div id="main">
        <%# Cover %>
        <div class="container-fluid container-cover cover-light">
          <div class="container">
            <div class="row">

              <div class="col-xs-12 col-sm-6">
                <h1 class="title text-center-sm"><%= t('cover.moto') %></h1>
                <%= link_to t('cover.get_started'), flavor_data.api_early_access, class: 'btn btn-primary btn-xlg element-centered' %>
              </div>

              <div class="col-xs-12 col-sm-6 text-center">
                <%= image_tag 'dev.png', class: 'intro-cover img-responsive element-centered' %>
              </div>

            </div>
          </div>
        </div>

        <%# Featured Docs %>
        <%= partial 'partials/featured' %>

        <%# Main %>
        <div class="container">
          <div class="row">
            <div class="intro-col-features col-xs-12 col-sm-8 col-md-9">
              <h3><%= t('index.what_can_you_do', flavor: flavor_data.site_name.titleize) %></h3>
              <ul>
                <li><%= t('index.products_and_app', flavor: flavor_data.site_name.titleize) %></li>
                <li><%= t('index.analyze_data') %></li>
                <li><%= t('index.integrate_eshop', flavor: flavor_data.site_name.titleize) %></li>
                <li><%= t('index.find_widgets') %></li>
              </ul>
            </div>

            <div class="intro-col-oss col-xs-12 col-sm-4 col-md-3">
              <hr class="visible-xs"/>
              <p><%= t('index.encourage_oss', flavor: settings.site_name.titleize, heart: '<i class="fa fa-heart-o"></i>') %></p>
              <a class="btn btn-primary-inverse btn-block" href="<%= settings.github_profile %>">
                <i class="fa fa-prepend fa-2x fa-github"></i>
                <span><%= t('index.on_github', flavor: settings.site_name.titleize) %></span>
              </a>
            </div>
          </div>
          <br class="clearfix"/>
        </div>

      </div>
    </div>

    <hr class="container clearfix"/>

    <%# Footer %>
    <%= partial 'partials/footer' %>

    <%# Back To Top %>
    <%= partial 'partials/back_to_top' %>
  </body>
</html>
