<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>" flavor="<%= flavor %>">
  <head>
    <title><%= site_title %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_tag 'favicon.ico' %>

    <%= stylesheet_link_tag 'style', media: 'all' %>
    <%= stylesheet_link_tag 'layouts/one_col' %>
    <%= stylesheet_link_tag "flavors/#{flavor}" %>

    <%= javascript_include_tag  'application' %>

    <%# HTML5 support for IE8 %>
    <!--[if lt IE 9]>
    <%= javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js' %>
    <![endif]-->
  </head>

  <body class="<%= page_classes %>">
    <div id="page">

      <%= partial 'partials/top_notification' %>

      <%# Header %>
      <%= partial 'partials/header' %>

      <%# Sidebar %>
      <%= partial 'partials/sidebar' %>

      <div id="main">
        <%# Cover %>
        <div class="container-fluid container-cover cover-light">
          <div class="container">
            <div class="row">

              <div class="col-xs-12 col-sm-6">
                <h1 class="title text-center-sm"><%= t('index.cover.moto') %></h1>
                <%= link_to t('index.cover.get_started'), '/docs/', class: 'btn btn-primary btn-xlg element-centered' %>
              </div>

              <div class="col-xs-12 col-sm-6 text-center">
                <%= image_tag 'dev.png', class: 'intro-cover img-responsive element-centered' %>
              </div>

            </div>
          </div>
        </div>

        <%# Featured Docs %>
        <%= partial 'partials/featured' %>

        <%# Main %>
        <div class="container">
          <div class="row">
            <div class="intro-col-features col-xs-12 col-sm-8 col-md-9">
              <h3><%= t('index.intro.what_can_you_do', flavor: settings.site_name.titleize) %></h3>
              <ul>
                <li>
                  <i class="fa-star"></i>
                  <%= t('index.intro.products_and_app', flavor: settings.site_name.titleize) %>
                </li>
                <li>
                  <i class="fa-star"></i>
                  <%= t('index.intro.analyze_data') %>
                </li>
                <li>
                  <i class="fa-star"></i>
                  <%= t('index.intro.integrate_eshop', flavor: settings.site_name.titleize) %>
                </li>
              </ul>
            </div>

            <div class="intro-col-oss col-xs-12 col-sm-4 col-md-3">
              <hr class="visible-xs"/>
              <p><%= t('index.oss.encourage', flavor: settings.site_name.titleize, heart: '<i class="fa fa-heart-o"></i>') %></p>
              <a class="btn btn-primary-inverse btn-block" href="<%= settings.github_profile %>">
                <i class="fa fa-prepend fa-2x fa-github"></i>
                <span><%= t('index.oss.github', flavor: settings.site_name.titleize) %></span>
              </a>
            </div>
          </div>
          <br class="clearfix"/>
        </div>

      </div>
    </div>

    <hr class="container clearfix"/>

    <%# Footer %>
    <%= partial 'partials/footer' %>

    <%# Back To Top %>
    <%= partial 'partials/back_to_top' %>
  </body>
</html>
