---
parent: apiv3
title: notifications
---

# User Notification <%= edit_link %>

> ##### Note
> To access any of the <strong>User Notification</strong> endpoints, an <code>access_token</code>
containing the `notifications` <%= link_to 'permission', '/authorization/permissions/' %> is required.

Notifications are events (price changes of favorite products, subscribed
discussion messages, etc).

<%= partial 'partials/toc' %>

## Available Notification Types

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>price_drop</code></td>
      <td>The price of an <%= link_to 'SKU', '/api/v3/sku' %> favorited by the User has been reduced</td>
    </tr>
    <tr>
      <td><code>availability_true</code></td>
      <td>
        An <%= link_to 'SKU', '/api/v3/sku' %> favorited by the User is again available
        at a <%= link_to 'Shop', '/api/v3/shops' %>
      </td>
    </tr>
    <tr>
      <td><code>sku_release</code></td>
      <td>A "future" <%= link_to 'SKU', '/api/v3/sku' %> has been released</td>
    </tr>
    <tr>
      <td><code>sku_review</code></td>
      <td>
        Review(s) have been published for an <%= link_to 'SKU', '/api/v3/sku' %> favorited by the User
      </td>
    </tr>
    <tr>
      <td><code>sku_review_rephrase_request</code></td>
      <td>
        Rephrase request for a SKU review
      </td>
    </tr>
    <tr>
      <td><code>sku_review_approve_after_update</code></td>
      <td>
        A SKU review has been approved after rephrasing
      </td>
    </tr>
  </tbody>
</table>

## List notifications

<pre class="terminal">
  GET /notifications
</pre>

<%= render_recording :notifications_index %>

## Retrieve a single notification

<pre class="terminal">
  GET /notifications/:id
</pre>

<%= render_recording :notifications_show %>

## Mark notifications as viewed

<pre class="terminal">
  POST /notifications/view{?ids[]}
</pre>

Name   | Type     | Description
------ | -------- | -----------
`ids`  | Array    | The notification ids to mark as viewed

<%= render_recording :notifications_view %>
