---
parent: apiv2
title: product
---

# Product <%= render_edit_link %>

<div class="alert alert-danger">
  <h5>Deprecated Resource</h5>
  <p>
    The API v2 is deprecated. If you wish to use our API please visit the
    <a href="/api/v3/">API v3</a>.
  </p>
</div>

<%= partial 'partials/toc' %>

## Find an SKU

### Based on the id

<pre class="terminal">
GET  /sku/:sku_id/
</pre>

### Based on the `sku` code for a Shop with shop_id `shop_id`

<pre class="terminal">
GET /sku/lookup/shop/:shop_id/sku/:sku/
</pre>

### Based on the Manufacturer's part number

<pre class="terminal">
GET /sku/lookup/pn/:pn/
</pre>

### Based on the barcode
<pre class="terminal">
GET /sku/lookup/barcode/:barcode/
</pre>

##### Returns

<pre class="terminal">
$ curl -F 'access_token=36c57b67...' http://<%= settings.apiv2_domain %>/xml/sku/13304/
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <type>sku</type>
  <result>
    <sku>
      <id>13304</id>
      <ean nil="true"></ean>
      <id>13304</id>
      <pn nil="true"></pn>
      <price_max>264.0</price_max>
      <price_min>264.0</price_min>
      <display_name>Nokia 6270</display_name>
      <active_products>
        <active_product>
          <id>1234</id>
          <imageurl>...</imageurl>
          <name>
            <![CDATA[NOKIA 6270  Κινητό Τηλέφωνο]]>
          </name>
          <click_url>http://<%= settings.domain %>/products/show/1234/</click_url>
          <pricevat>264.0</pricevat>
          <category>
            <children_count>0</children_count>
            <id>40</id>
            <name>
              <![CDATA[Κινητά Τηλέφωνα]]>
            </name>
            <family_id>2</family_id>
            <family_name>
               <![CDATA[Τηλεφωνία]]>
            </family_name>
          </category>
          <shop>
            <free_from>90</free_from>
            <free_from_info></free_from_info>
            <free_shipping>true</free_shipping>
            <id>681</id>
            <name>
              <![CDATA[A-shop]]>
            </name>
            <reviews_count>2</reviews_count>
            <reviewscore>3.0</reviewscore>
            <spot_cash>true</spot_cash>
            <spot_cash_cost>0.0</spot_cash_cost>
            <image_url>http://<%= settings.domain %>/...</image_url>
          </shop>
          </active_product>
        <active_product>
        </active_product>
      </active_products>
      <category>
        <children_count>0</children_count>
        <id>40</id>
        <name>
          <![CDATA[Κινητά Τηλέφωνα]]>
        </name>
      </category>
      <sku_reviews>
        <sku_review>
          <created_on>2007-12-10T10:53:09+02:00</created_on>
          <positives>
            <![CDATA[Camera, Σήμα κλασσικά Nokia, Κατασκευή]]>
          </positives>
          <rating>4</rating>
          <review>
            <![CDATA[Είμαι απόλυτα ευχαριστημένος.]]>
          </review>
        </sku_review>
      </sku_reviews>
      <skuspecs>
        <skuspec>
          <value>Slide</value>
          <specification_name>
            <![CDATA[Τύπος Κινητού]]>
          </specification_name>
          <specification_group>
            <![CDATA[Βασικά Χαρακτηριστικά]]>
          </specification_group>
        </skuspec>
        <skuspec>
          <value>TFT, 256K colors</value>
          <specification_name>
            <![CDATA[Τύπος Οθόνης]]>
          </specification_name>
          <specification_group>
            <![CDATA[Τεχνικά Χαρακτηριστικά]]>
          </specification_group>
        </skuspec>
      </skuspecs>
    </sku>
~~~


## Categories

#### Find sub-categories of a category

<pre class="terminal">
GET /subcategories/:cat_id/
</pre>

> If the `cat_id` omitted it returns the top level categories (families)

##### Result

<pre class="terminal">
$ curl -F 'access_token=36c57b67...'  http://<%= settings.apiv2_domain %>/xml/subcategories/769/
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <type>categories</type>
  <result>
    <categories>
      <category>
        <children_count>0</children_count>
        <id>25</id>
        <name>Laptop</name>
        <family_id>2</family_id>
        <family_name>
           <![CDATA[Τηλεφωνία]]>
        </family_name>
      </category>
    </categories>
  </result>
</SkroutzApi>
~~~

## Search

*General* search, i.e. a search that does not refer to a particular category.

> Required Parameters: 'keyphrase'

<pre class="terminal">
GET /search/
</pre>

### A search may return results with type:

##### Type

`multiple_results`
: Multiple results in multiple categories
<br/>(The returned categories are leaves, i.e. they don't have sub-categories)

##### Result

SearchResults

<pre class="terminal">
$ curl -F 'access_token=36c57b67...' -F 'keyphrase=ipad' http://<%= settings.apiv2_domain %>/xml/search/
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <type>multiple_results</type>
  <result>
    <search_results>
      <search_result>
        <name>
          <![CDATA[Διάφορα Αξεσουάρ Laptop]]>
        </name>
        <count>40</count>
        <id>290</id>
        <family_id>22</family_id>
        <family_name>
           <![CDATA[Ηλεκτρονικοί υπολογιστές]]>
        </family_name>
        <children_count>0</children_count>
      </search_result>
      <search_result>
        <name>
          <![CDATA[Τσάντες]]>
        </name>
        <count>30</count>
        <id>92</id>
        <family_id>22</family_id>
        <family_name>
           <![CDATA[Ηλεκτρονικοί υπολογιστές]]>
        </family_name>
        <children_count>0</children_count>
      </search_result>
    </search_results>
  </results>
</SkroutzApi>
~~~

##### Type

`category_match`
: Keyphrase is the name of a Category

##### Result

Category

<pre class="terminal">
$ curl -F 'access_token=36c57b67...' -F 'keyphrase=Κινητά Τηλέφωνα' http://<%= settings.apiv2_domain %>/xml/search/
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <type>category_match</type>
  <result>
    <category>
      <children_count>0</children_count>
      <id>40</id>
      <name>
        <![CDATA[Κινητά Τηλέφωνα]]>
      <family_id>2</family_id>
      <family_name>
         <![CDATA[Τηλεφωνία]]>
      </family_name>
      </name>
    </category>
  </result>
  <error nil="true"></error>
</SkroutzApi>
~~~

##### Type

`manufacturer`
: Keyphrase is the name of Manufacturer

##### Result

Manufacturer

<pre class="terminal">
$ curl -F 'access_token=36c57b67...' -F 'keyphrase=sony' http://<%= settings.apiv2_domain %>/xml/search/
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <type>manufacturer</type>
  <result>
    <manufacturer>
      <id>2</id>
      <name>Sony</name>
    </manufacturer>
  </result>
  <error nil="true"></error>
</SkroutzApi>
~~~

##### Type

`sku`
: Only one Sku result

##### Result

Sku

<pre class="terminal">
$ curl -F 'access_token=36c57b67...' -F 'keyphrase=The eye of judgment fire' http://<%= settings.apiv2_domain %>/xml/search/
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <type>sku</type>
  <result>
    <sku>
      <ean nil="true"></ean>
      <id>33933</id>
      <pn nil="true"></pn>
      <price_max>34.9</price_max>
      <price_min>34.9</price_min>
      <display_name>The Eye of Judgment: Fire Crusader Theme Deck</display_name>
      <sku_reviews/>
      <category>
        <children_count>0</children_count>
        <family_id>59</family_id>
        <id>414</id>
        <name>
          <![CDATA[Παιχνίδια Playstation 3 ]]>
        </name>
        <family_id>59</family_id>
        <family_name>
          <![CDATA[Ηλεκτρονικά Παιχνίδια]]>
        </family_name>
      </category>
      <active_products>
        <active_product>
          <id>4206001</id>
          <imageurl>http://fi.gameexplorers.gr/6de.jpg</imageurl>
          <name>The Eye Of Judgment - Fire Crusader Theme Deck (PS3)</name>
          <pricevat>34.9</pricevat>
          <click_url>http://<%= settings.domain %>/products/show/4206001</click_url>
          <category>
            <children_count>0</children_count>
            <id>414</id>
            <name>
              <![CDATA[Παιχνίδια Playstation 3 ]]>
            </name>
            <family_id>59</family_id>
            <family_name>
              <![CDATA[Ηλεκτρονικά Παιχνίδια]]>
            </family_name>
          </category>
          <shop>
            <free_from>90</free_from>
            <free_from_info></free_from_info>
            <free_shipping>true</free_shipping>
            <id>681</id>
            <name>
              <![CDATA[Ashop]]>
            </name>
            <reviews_count>2</reviews_count>
            <reviewscore>3.0</reviewscore>
            <spot_cash>true</spot_cash>
            <spot_cash_cost>0.0</spot_cash_cost>
            <image_url>http://<%= settings.domain %>/...</image_url>
          </shop>
          </active_product>
      </active_products>
      <skuspecs/>
    </sku>
  </result>
  <error nil="true"></error>
</SkroutzApi>
~~~

##### Type

`book_search`
: Results only within Books

##### Result

Empty

<pre class="terminal">
$ curl -F 'access_token=36c57b67...' -F 'keyphrase=μεταπολίτευση' http://<%= settings.apiv2_domain %>/xml/search/
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <type>book_search</type>
  <result>
  </result>
  <error nil="true"></error>
</SkroutzApi>
~~~

##### Type

`single_category_results`
: Results only in one Category

##### Result

Category

<pre class="terminal">
$ curl -F 'access_token=36c57b67...' -F 'keyphrase=thinkpad x301' http://<%= settings.apiv2_domain %>/xml/search/
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <type>single_category_results</type>
  <result>
    <category>
      <children_count>0</children_count>
      <id>25</id>
      <name>Laptop</name>
      <family_id>22</family_id>
      <family_name>
        <![CDATA[Ηλεκτρονικοί Υπολογιστές]]>
      </family_name>
    </category>
  </result>
  <error nil="true"></error>
</SkroutzApi>
~~~

##### Type

`no_results`
: No results

##### Result

Empty

<pre class="terminal">
$ curl -F 'access_token=36c57b67...' -F 'keyphrase=υποβρύχια κυκλοφορία' \
       http://<%= settings.apiv2_domain %>/xml/search/
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <type>no_results</type>
  <result>
  </result>
  <error nil="true"></error>
</SkroutzApi>
~~~

## Error types

##### Type

`invalid`
: Incorrect keyphrase
<br/>e.g. keyphrase is less than 2 characters

<pre class="terminal">
$ curl -F 'access_token=36c57b67...' -F 'keyphrase=E' http://<%= settings.apiv2_domain %>/xml/search/
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <error>
    <code>invalid</code>
    <text>Invalid Search</text>
    <number>221</number>
  </error>
</SkroutzApi>
~~~

### Correction

A search may contain the `correction` entity. This element suggests an
*alternative search* to the user. For example, `keyphrase=nolia`. It can **only**
exist only for `multiple_results` and `no_results`.


**Suggested Action:** Perform a new search with the new `keyphrase`, if the user
choose it.

### Proposer

A search might contain the `proposer` entity. This entity can **only** exist for
`multiple_results`, and it can be one of the following three types (`type`):

`category`
: Suggest redirect to a leaf category
<br/>e.g. `'usb flash 4gb'`
<br/>**Suggested Action:** Redirect to category `listing`

`category_manufacturer`
: Suggest redirect to a category with manufacturer,
<br/>e.g. `'laptop sony'`
<br/>**Suggested Action:** Redirect to category `listing` with the corresponding
`manufacturer_id`

`category_filter`
: Suggest redirect to a category with type,
<br/>>e.g. `'τηλεοράσεις plasma'`
<br/>**Suggested Action:** Redirect to category `listing` with the corresponding
`filter_id`.

## View leaf categories - Listing

The <%= settings.site_name %> leaf categories have a specific form.
They may include filters, manufacturer names, etc.

For example, [Laptop](http://<%= settings.domain %>/c/25/laptop.html)

That API call performs **search in all leaf categories**.

##### Parameters

`keyphrase`
: Optional keyphrase for search

`filter_id`
: Enabled filters. For multiple filters, join the IDs with underscore.

`manufacturer_id`
: Manufacturer selection

`page`
: Page selection

##### Response scheme

* `SelectedFilters`
 * `Skus`
 * `Manufacturers`
 * `FilterGroups`
   * `Name`
   * `Filters`
     * `id`
     * `name`
 * `Paginator`
   * `total_results`
   * `page`
   * `results_per_page`
   * `total_pages`

##### Example

<pre class="terminal">
$ curl -F 'access_token=36c57b67...' http://<%= settings.apiv2_domain %>/xml/list/25/
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <type>listing</type>
  <result>
    <selected_filters nil="true"></selected_filters>
    <skus>
      <sku>
        <id>96531</id>
        <display_name>OEM K7E5 G600</display_name>
        <category>
          <children_count>0</children_count>
          <id>25</id>
          <name>Laptop</name>
          <family_id>22</family_id>
          <family_name>
            <![CDATA[Ηλεκτρονικοί Υπολογιστές]]>
          </family_name>
        </category>
      </sku>
      <sku>
      ...
      </sku>
    </skus>
    <filter_groups>
      <filter_group>
        <name>
          <![CDATA[Τύπος]]>
        </name>
        <filters>
          <filter>
            <id>5468</id>
            <name>NetBook</name>
          </filter>
          <filter>
            <id>5465</id>
            <name>UMPC</name>
          </filter>
        </filters>
      </filter_group>
      <filter_group>
        <name>
          <![CDATA[Μέγεθος]]>
        </name>
        <filters>
          <filter>
            <id>5461</id>
            <name>
              <![CDATA[έως 10"]]>
            </name>
          </filter>
        </filters>
      </filter_group>
    </filter_groups>
    <manufacturers>
      <manufacturer>
        <id>23</id>
        <name>Acer</name>
      </manufacturer>
      ...
    </manufacturers>
    <paginator>
      <total_results>1542</total_results>
      <page>1</page>
      <results_per_page>18</results_per_page>
      <total_pages>86</total_pages>
    </paginator>
  </result>
  <error nil="true"></error>
</SkroutzApi>
~~~

## Manufacturer

<pre class="terminal">
GET /manufacturer/:manuf_id/
</pre>

##### Response scheme

* `Manufacturer`
* `popular_categories`
* `popular_skus`
* `search_results`

##### Example

<pre class="terminal">
$ curl -F 'access_token=36c57b67...' http://<%= settings.apiv2_domain %>/xml/manufacturer/2/  # Sony
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <type>manufacturer_page</type>
  <result>
    <manufacturer>
      <id>2</id>
      <name>Sony</name>
    </manufacturer>
    <popular_categories>
      <popular_category>
        <children_count>0</children_count>
        <id>108</id>
        <name>
          <![CDATA[Κονσόλες]]>
        </name>
        <family_id>59</family_id>
        <family_name>
          <![CDATA[Ηλεκτρονικά Παιχνίδια]]>
        </family_name>
      </popular_category>
      ...
    </popular_categories>
    <popular_skus>
      <popular_sku>
        <id>88036</id>
        <display_name>Sony PlayStation 3 (PS3) Slim 120GB</display_name>
        <category>
          <children_count>0</children_count>
          <id>108</id>
          <name>
            <![CDATA[Κονσόλες]]>
          </name>
          <family_id>59</family_id>
          <family_name>
            <![CDATA[Ηλεκτρονικά Παιχνίδια]]>
          </family_name>
        </category>
      </popular_sku>
      ...
    </popular_skus>
    <search_results>
      <search_result>
        <name>
          <![CDATA[Ανταλλακτικά Kινητών τηλεφώνων]]>
        </name>
        <count>1303</count>
        <id>583</id>
        <children_count>0</children_count>
      </search_result>
      ...
    </search_results>
  </result>
  <error nil="true"></error>
</SkroutzApi>
~~~

## Shop

<pre class="terminal">
GET  /shop/:shop_id/
</pre>

##### Example

<pre class="terminal">
$ curl -F 'access_token=36c57b67...' http://<%= settings.apiv2_domain %>/xml/shop/1000/ 
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <type>shop</type>
  <result>
    <shop>
      <bank>true</bank>
      <credit_card>true</credit_card>
      <free_from>90</free_from>
      <free_from_info></free_from_info>
      <free_shipping>true</free_shipping>
      <id>3</id>
      <info></info>
      <installments>
        <![CDATA[έως 36 έντοκες με οποιαδήποτε πιστωτική κάρτα...]]>
      </installments>
      <link>http://www.e-shop.gr/</link>
      <min_shipping>3</min_shipping>
      <name>E-shop</name>
      <paypal>false</paypal>
      <reviews_count>123</reviews_count>
      <reviewscore>2.99187</reviewscore>
      <spot_cash>true</spot_cash>
      <spot_cash_cost>0.0</spot_cash_cost>
      <spot_cash_info></spot_cash_info>
      <store_picking>true</store_picking>
      <image_url>http://<%= settings.domain %>/images/shops/logos/mid/1000-mid.jpg</image_url>
      <locations>
        <location>
          <phone nil="true"></phone>
          <full_address>
            <![CDATA[μπλα μπλα μπλα]]>
          </full_address>
          <latitude>38.6397</latitude>
          <longitude>21.3843</longitude>
        </location>
      </locations>
    </shop>
  </result>
  <error nil="true"></error>
</SkroutzApi>
~~~

## Shops

### All Shops (Alphabetical order)

<pre class="terminal">
GET /shops/
</pre>

### All Shop starting with a particular character (Alphabetical order)

<pre class="terminal">
GET /shops/?letter=b
</pre>

##### Example

<pre class="terminal">
$ curl -F 'access_token=36c57b67...' -F letter=b \
       http://<%= settings.apiv2_domain %>/xml/shops/
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <type>shop_listing</type>
  <result>
    <shops>
      <shop>
        <id>633</id>
        <name>Babylonlis</name>
        <phone>11111111</phone>
        <image_url>http://<%= settings.domain %>/...jpg</image_url>
        <thumbshot_url>http://<%= settings.domain %>/....jpg</thumbshot_url>
      </shop>
      <shop>
        <id>947</id>
          ...
~~~

## Index <%= settings.site_name.capitalize %>

Various widgets from <%= settings.site_name.capitalize %> index page (/index/).

* `search_cloud`

##### Example

<pre class="terminal">
$ curl -F 'access_token=36c57b67...' http://<%= settings.apiv2_domain %>/xml/index/
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <type>skroutz_index</type>
  <result>
    <search_cloud>
      <items>
        <item>
          <value>1469</value>
          <keyword>samsung</keyword>
        </item>
        <item>
          <value>1114</value>
          <keyword>lg</keyword>
        </item>
        ...
       </items>
    </search_cloud>
  </result>
  <error nil="true"></error>
</SkroutzApi>
~~~

## Top 5 Sku search results

<pre class="terminal">
GET /search/sku/ # Keyphrase parameters
</pre>

##### Returns

SKUs

<pre class="terminal">
$ curl -F 'access_token=36c57b67...' -F 'keyphrase=thinkpad' \
       http://<%= settings.apiv2_domain %>/xml/search/sku/
</pre>

~~~ xml
<?xml version="1.0" encoding="UTF-8"?>
<SkroutzApi>
  <type>skus</type>
  <result>
    <skus>
      <sku>
        <id>52298</id>
        <display_name>Lenovo ThinkPad X61 Tablet [7762WPB]</display_name>
        <category>
          <children_count>0</children_count>
          <id>25</id>
          <name>Laptop</name>
        </category>
      </sku>
      ...
~~~
