---
title: widgets
---

# Widgets <%= render_edit_link %>

<%= partial 'partials/toc' %>

## Prices for a specific product

Use the following code snippet to list prices for a specific product. You only
have to replace the product `id` with the one that appears at the product web
address, e.g.

<pre class="terminal">
http://<%= settings.domain %>/s/<strong>2567463</strong>/Apple-iPad-mini-Wifi-16GB.html
</pre>

##### Example

~~~ html
<div class="skroutz-widget">
  <script type="text/javascript" src="http://<%= settings.domain %>/javascripts/widget-v1.js" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8" >
    new SkroutzWidget().display_sku({id:2567463});
  </script>
  <p class="skwidget-footer">powered by <a href="http://<%= settings.domain %>" title="<%= settings.site_name.capitalize %>"><%= settings.site_name.capitalize %></a></p>
</div>
~~~

##### Result

<div class="skroutz-widget">
  <script type="text/javascript" src="http://<%= settings.domain %>/javascripts/widget-v1.js" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8" >
    new SkroutzWidget().display_sku({id:2567463});
  </script>
  <p class="skwidget-footer">powered by
    <a href="http://<%= settings.domain %>" title="<%= settings.site_name.capitalize %>"><%= settings.site_name.capitalize %></a>
  </p>
</div>

## General search

Replace the `keyphrase` in the following code snippet to perform a general search
in <%= settings.site_name.capitalize %>.

##### Example

~~~ html
<div class="skroutz-widget">
  <script type="text/javascript" src="http://<%= settings.domain %>/javascripts/widget-v1.js" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8" >
    new SkroutzWidget().display_popular({keyphrase:'samsung'});
  </script>
  <p class="skwidget-footer">powered by <a href="http://<%= settings.domain %>" title="<%= settings.site_name.capitalize %>"><%= settings.site_name.capitalize %></a></p>
</div>
~~~

##### Result

<div class="skroutz-widget">
  <script type="text/javascript" src="http://<%= settings.domain %>/javascripts/widget-v1.js" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8" >
    new SkroutzWidget().display_popular({keyphrase:'samsung'});
  </script>
  <p class="skwidget-footer">powered by <a href="http://<%= settings.domain %>" title="<%= settings.site_name.capitalize %>"><%= settings.site_name.capitalize %></a></p>
</div>

## Search results for a specific Category

Use the following code snippet to list results from a specific Category. You
only have to replace the `keyphrase` and the `cat_id` with the actual `cat_id`
as it appears at the category web address, e.g.

<pre class="terminal">
http://<%= settings.domain %>/c/<strong>40</strong>/kinhta-thlefwna.html
</pre>

##### Example

~~~ html
<div class="skroutz-widget">
  <script type="text/javascript" src="http://<%= settings.domain %>/javascripts/widget-v1.js" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8" >
    new SkroutzWidget().display_popular({cat_id:40, keyphrase:'iphone'});
  </script>
  <p class="skwidget-footer">powered by <a href="http://<%= settings.domain %>" title="<%= settings.site_name.capitalize %>"><%= settings.site_name.capitalize %></a></p>
</div>
~~~

##### Result

<div class="skroutz-widget">
  <script type="text/javascript" src="http://<%= settings.domain %>/javascripts/widget-v1.js" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8" >
    new SkroutzWidget().display_popular({cat_id:40, keyphrase:'iphone'});
  </script>
  <p class="skwidget-footer">powered by <a href="http://<%= settings.domain %>" title="<%= settings.site_name.capitalize %>"><%= settings.site_name.capitalize %></a></p>
</div>

## Top category products 

Use the following code snippet to retrieve the top products for a Category. You
only have to replace the `cat_id` with the actual category id as it appears at
the category web address, e.g.

<pre class="terminal">
http://<%= settings.domain %>/c/<strong>40</strong>/kinhta-thlefwna.html
</pre>

##### Example

~~~ html
<div class="skroutz-widget">
  <script type="text/javascript" src="http://<%= settings.domain %>/javascripts/widget-v1.js" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8" >
    new SkroutzWidget().display_popular({cat_id:40});
  </script>
  <p class="skwidget-footer">powered by <a href="http://<%= settings.domain %>" title="<%= settings.site_name.capitalize %>"><%= settings.site_name.capitalize %></a></p>
</div>
~~~

##### Result

<div class="skroutz-widget">
  <script type="text/javascript" src="http://<%= settings.domain %>/javascripts/widget-v1.js" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8" >
    new SkroutzWidget().display_popular({cat_id:40});
  </script>
  <p class="skwidget-footer">powered by <a href="http://<%= settings.domain %>" title="<%= settings.site_name.capitalize %>"><%= settings.site_name.capitalize %></a></p>
</div>

## Parameters

`target`
: Links should open:
  <br/> - within the same window *(default)*: `'_top'`
  <br/> - in a new window: `'_blank'`

##### Example

~~~ html
<div class="skroutz-widget">
  <script type="text/javascript" src="http://<%= settings.domain %>/javascripts/widget-v1.js" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8" >
    new SkroutzWidget({target:'_blank'}).display_popular({cat_id:40});
  </script>
  <p class="skwidget-footer">powered by <a href="http://<%= settings.domain %>" title="<%= settings.site_name.capitalize %>"><%= settings.site_name.capitalize %></a></p>
</div>
~~~
