---
parent: authorization
title: permissions
---

# Permissions

A representation of the permissions granted to your app by
<%= settings.site_name.titleize %> and a User.

<%= partial 'partials/toc' %>

## Obtainable Permissions

Each application is assigned the minimum set of permissions required
to operate based on its given description.  
To expand your application's set of
acquirable permissions shoot a mail at <<%= settings.api_email %>>.

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>public</td>
      <td>application</td>
      <td>All public resources*</td>
    </tr>
    <tr>
      <td>favorites</td>
      <td>user</td>
      <td>User <%= link_to 'Favorites', '/api/v3/favorites' %></td>
    </tr>
    <tr>
      <td>notifications</td>
      <td>user</td>
      <td>User <%= link_to 'Notifications', '/api/v3/notifications' %></td>
    </tr>
    <% if flavor == 'skroutz' %>
    <tr>
      <td>easy</td>
      <td>user</td>
      <td>
        <%= link_to t('titles.easy', flavor: settings.site_name.titleize), '/easy' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="alert alert-warning" role="alert">
  <i class="fa fa-exclamation-triangle"></i>
  Having not set a specific permission to be obtained the default is set to 
  <span class="label label-default">easy</span>, but as this may change in the future, 
  you are suggested to always specify your desired permissions.
</div>

<div class="alert alert-info" role="alert">
  <i class="fa fa-info-circle"></i> You may specify desired permissions using the 
  <span class="label label-default">scope</span> parameter in authorization requests.
</div>

## Public Resources
Having obtained the public permission you can access the following resources:

<ul class="public-resources">
  <li><%= link_to 'Categories', '/api/v3/category/' %></li>
  <li><%= link_to 'Skus', '/api/v3/sku/' %></li>
  <li><%= link_to 'Products', '/api/v3/product/' %></li>
  <li><%= link_to 'Shops', '/api/v3/shop/' %></li>
  <li><%= link_to 'Manufacturers', '/api/v3/manufacturer/' %></li>
  <li><%= link_to 'Search', '/api/v3/search/' %></li>
  <li><%= link_to 'Filter Groups', '/api/v3/filter_groups/' %></li>
</ul>

## User Resources
These permissions require that you have explicitly requested them using
the scope param.

User will have to consent to grant any of those permissions.
You __must not__ share these data to 3rd parties.

<ul class="private-resources">
  <li><%= link_to 'Favorites', '/api/v3/favorites/' %></li>
  <li><%= link_to 'Notifications', '/api/v3/notifications/' %></li>
</ul>
