---
title: product_reviews
---

<%= partial 'partials/page_locales' %>

# <%= settings.site_name.capitalize %> Product Reviews <%= edit_link %>

Display product-related <%= settings.site_name.capitalize %> content in your website, such as user
reviews and ratings.

<%= partial 'partials/toc' %>

## How It Looks

### Inline Widget

##### Available Themes

<div class="partner-sku-reviews-themes-preview inline-themes-preview">
  <%= image_tag "/assets/images/#{flavor}/partner_sku_reviews/inline_small_white.png" %>
  <%= image_tag "/assets/images/#{flavor}/partner_sku_reviews/inline_medium_white.png" %>
  <br>
  <%= image_tag "/assets/images/#{flavor}/partner_sku_reviews/inline_small_grey.png" %>
  <%= image_tag "/assets/images/#{flavor}/partner_sku_reviews/inline_medium_grey.png" %>
  <br>
  <%= image_tag "/assets/images/#{flavor}/partner_sku_reviews/inline_small_black.png" %>
  <%= image_tag "/assets/images/#{flavor}/partner_sku_reviews/inline_medium_black.png" %>
  <br>
  <%= image_tag "/assets/images/#{flavor}/partner_sku_reviews/inline_small_orange.png" %>
  <%= image_tag "/assets/images/#{flavor}/partner_sku_reviews/inline_medium_orange.png" %>
</div>

##### Preview

<%= image_tag "/assets/images/#{flavor}/partner_sku_reviews/inline_preview.gif", class: 'partner-sku-reviews-preview' %>

### Extended Widget

##### Available Themes

<div class="partner-sku-reviews-themes-preview extended-themes-preview">
  <%= image_tag "/assets/images/#{flavor}/partner_sku_reviews/extended_white.png" %>
  <%= image_tag "/assets/images/#{flavor}/partner_sku_reviews/extended_grey.png" %>
</div>

##### Preview

<%= image_tag "/assets/images/#{flavor}/partner_sku_reviews/extended_preview.gif", class: 'partner-sku-reviews-preview' %>

## How It Works

The "<%= settings.site_name.capitalize %> Product Reviews" widgets are displayed in your website,
providing product-related <%= settings.site_name.capitalize %> content.

- Display product reviews and ratings at key conversion points across your website.
- Users will have **direct access** to product-related <%= settings.site_name.capitalize %> content,
  without having to leave your website.

#### "Product Reviews" service provides two versions of widgets:

##### Inline Widget

Displays product's rating and has the following dimensions depending on the theme you choose:

* `width: 150px, height: 70px`
* `width: 260px, height: 70px`

##### Extended Widget

Displays product's rating and reviews.

*Dimensions of this widget depend on its container.*

<br>

> ##### Note
> You can have both widgets visible in your website.

## Integration

### Inline Widget

You have to place the code below wherever you want the widget to appear on your page.

~~~html
<div id="skroutz-product-reviews-inline" data-product-id="Replace with the Product ID you provide in your XML feedspec"></div>
~~~

#### Example in PHP

~~~php
<?php $product_id = 'USE YOUR OWN ID HERE'; ?>

<div id="skroutz-product-reviews-inline" data-product-id="<?php echo htmlspecialchars($product_id) ?>"></div>
~~~

### Extended Widget

You have to place the code below wherever you want the widget to appear on your page.

~~~html
<div id="skroutz-product-reviews-extended" data-product-id="Replace with the Product ID you provide in your XML feedspec"></div>
~~~

#### Example in PHP

~~~php
<?php $product_id = 'USE YOUR OWN ID HERE'; ?>

<div id="skroutz-product-reviews-extended" data-product-id="<?php echo htmlspecialchars($product_id) ?>"></div>
~~~

<br>

> ##### Note
> 1. You **have to** replace the value of `data-product-id` depending on the current product the user is seeing.
> 1. As the value of `data-product-id` you **must** provide the same [Unique ID](/feedspec/#unique-id) that is
>    submitted as part of the XML feedspec.

### Technical Requirements

Widget Type        | [Analytics Integration](/analytics) |
------------------ | ----------------------------------- |
*Inline*           |  <i class="fa fa-check"></i>        |
*Extended*         |  <i class="fa fa-check"></i>        |


#### When the widgets are displayed

"<%= settings.site_name.capitalize %> Product Reviews" widgets are displayed, automatically, on every
[Analytics tracker object initialization](/analytics/settings/#connect).

## Settings

"<%= settings.site_name.capitalize %> Product Reviews" service's configuration is **only**
available through [Merchants control panel](https://<%= settings.merchants_domain %>/services/partner_sku_reviews/).

> ##### Note
> In order to configure "Product Reviews" service you need to have access to
  [Merchants control panel](https://<%= settings.merchants_domain %>).
>
> **Please contact the shop owner in order to change the configuration.**

##### Available Settings

###### Inline Widget

Name          | Default      | Available Options          | Description
------------- | ------------ | -------------------------- | -----------
`enabled`     | false        | true, false                | Display or not the Inline Widget
`theme`       | Medium Black | Small White, Small Grey, Small Black, Small Orange,<br><br>Medium White, Medium Grey, Medium Black, Medium Orange | Widget's theme

###### Extended Widget

Name              | Default      | Available Options          | Description
----------------- | ------------ | -------------------------- | -----------
`enabled`         | false        | true, false                | Display or not the Extended Widget
`theme`           | White        | White, Grey                | Widget's background theme
`visible reviews` | 3            | 1, 2, 3, 4, 5              | How many reviews will be displayed in the widget

###### Common

Name                     | Default      | Available Options          | Description
------------------------ | ------------ | -------------------------- | -----------
`product's info visible` | true         | true, false                | Display or not the product's information, such as technical specification or description.
