---
parent: apiv3
title: search
---

# Search

##### <%= t('common.toc') %>

* TOC
{:toc}

## Search

<pre class="terminal">
  GET /search
</pre>

Name | Type | Description
-----| -----| -----------
`q` | `String` | `The keyphrase to search by`

The main response type is a collection of <%= link_to 'Categories', '/api/v3/category' %>.

Any other resources matching the specified query are generally of lesser
importance.

Our suggestion system may provide alternative search queries in the
`alternatives` key of `meta`.

Any of those alternatives having a flag `important` set to `true`, hint
the client to perform a search with the alternative query instead.

There may also exist matches of different resources under the key `strong_matches`.

Currently there may be up-to one of each of the following resources:

<ul>
  <li><%= link_to 'Category', '/api/v3/category' %></li>
  <li><%= link_to 'SKU', '/api/v3/sku' %></li>
  <li><%= link_to 'Manufacturer', '/api/v3/manufacturer' %></li>
  <li><%= link_to 'Shop', '/api/v3/shop' %></li>
</ul>

### Query with less than 2 characters

<%= render_recording :search_invalid %>

### Query that doesn't match anything

<%= render_recording :search_no_results %>

### Query with strong insights for a specific category

<%= render_recording :search_category_match %>

### Query matching many categories

<%= render_recording :search_category_facade %>

### Query with strong insights for a specific manufacturer

<%= render_recording :search_manufacturer_match %>

### Query with more results when written in another language

<%= render_recording :search_latin_mapping %>

### Probably misspelled query

<%= render_recording :search_spelling %>

### Query with strong insights for a specific SKU

<%= render_recording :search_sku_match %>

### Query that matches SKUS from a single category

<%= render_recording :search_skus_match %> 

### Query parts of which have results

<%= render_recording :search_drop %>

## Autocomplete

<pre class="terminal">
  GET /autocomplete
</pre>

Name | Type      | Description
-----| ---------| ------------
 `q` | `String` | `The term to be autocompleted`

<%= render_recording :autocomplete %>
